.img-carrossel {
  object-fit: cover;
  height: 500px;
}

.navbar-brand {
  font-family: "Lobster", cursive;
}

.cor-da-borda-card {
  border-color: pink;
}

.img-imagem-card {
  object-fit: cover;
  height: 200px;
}

.card-largura {
  width: 18rem;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #d0d1d1;
  color: black;
}

.img-estudo {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.titulo {
  font-size: 50px;
  font-family: "Lobster", cursive;
}
